{% extends '::base.html.twig' %}

{% block body %}


    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6 text-center">
                    <p>Je m'appelle Sébastien et je suis titulaire d'un BTS informatique SIO obtenu en 2015.
                    Après un début de carrière dans le marketing, je me suis réorienté vers l’informatique qui a depuis toujours
                    été une passion pour moi. Vous pourrez trouver sur ce site des applications faites au cours de mon
                    bts mais aussi à titre personnel. Bonne visite.</p>
                    <hr>

                    <div class="col-md-12 text-center m-t-lg m-b-md">

                            <h1>Compétences</h1>

                            <div class="barGraph">
                                <ul class="graph">
                                      <span class="graph-barBack">
                                        <li class="graph-bar" data-value="35">
                                            <span class="graph-legend">Php</span>
                                        </li>
                                      </span>

                                      <span class="graph-barBack">
                                        <li class="graph-bar" data-value="25">
                                            <span class="graph-legend">Java</span>
                                        </li>
                                      </span>

                                      <span class="graph-barBack">
                                        <li class="graph-bar" data-value="30">
                                            <span class="graph-legend">HTML5/CSS</span>
                                        </li>
                                      </span>

                                      <span class="graph-barBack">
                                        <li class="graph-bar" data-value="15">
                                            <span class="graph-legend">Javascript</span>
                                        </li>
                                      </span>

                                      <span class="graph-barBack">
                                        <li class="graph-bar" data-value="50">
                                            <span class="graph-legend">Anglais</span>
                                        </li>
                                      </span>
                                </ul>
                            </div>

                    </div>
                </div>

                <div class="col-md-6 text-center">
                    {% block portfolio %}{% endblock %}
                </div>
            </div>
        </div>
    </div>


{% endblock %}